@import 'tailwindcss';

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE & old Edge */
body {
  -ms-overflow-style: none;
}
